@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #008080;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
}
